* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.toggle {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}
.toggle.active {
  background-color: #51E373;
}
.toggle-switch {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  box-shadow: 1px 1px 7px #B7B7B7, -1px -1px 4px #CECECE inset;
  transition: left .3s ease-in-out;
}
.toggle-switch.active {
  left: 33px;
}

.win-line {
  background-color: aqua;
}
